Package: com.rcrepo.safaridefaultkeyboard
Name: Go.Away.Period.Button
Architecture: iphoneos-arm
Author: Milo Darling <milodarling98@gmail.com>
Depiction: http://rcrepo.com/depictions/?dep=com.rcrepo.safaridefaultkeyboard
Priority: extra
Section: Tweaks
Description: Get rid of the period in the Safari search bar.
Homepage: http://reddit.com/r/rcrepo
Maintainer: TheMacMini09 <themacmini09@gmail.com>
Depends: mobilesubstrate
Version: 1.2-1
Installed-Size: 152
